<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="personnelID">
	{$personnelID_editcontrol}
	</control>
	<control 
	field="memoType">
	{$memoType_editcontrol}
	</control>
	<control 
	field="dateIssued">
	{$dateIssued_editcontrol}
	</control>
	<control 
	field="validity">
	{$validity_editcontrol}
	</control>
	<control 
	field="title">
	{$title_editcontrol}
	</control>
	<control 
	field="file">
	{$file_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
