<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="personnelID">
	{$personnelID_editcontrol}
	</control>
	<control field="empID">
	{$empID_editcontrol}
	</control>
	<control field="department">
	{$department_editcontrol}
	</control>
	<control field="unit">
	{$unit_editcontrol}
	</control>
	<control field="jobtitle">
	{$jobtitle_editcontrol}
	</control>
	<control field="jobdescription">
	{$jobdescription_editcontrol}
	</control>
	<control field="datehired">
	{$datehired_editcontrol}
	</control>
	<control field="reference">
	{$reference_editcontrol}
	</control>
	<control field="dateend">
	{$dateend_editcontrol}
	</control>
	<control field="type">
	{$type_editcontrol}
	</control>
	<control field="category">
	{$category_editcontrol}
	</control>
	<control field="empstatus">
	{$empstatus_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>