<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_searchpage}
<div {$searchpage_chiddenattr} data-pageid="{$pageid}" data-container="searchpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-6 col-md-offset-3"> 

{BEGIN searchheader}
	<h2 {$bssearchheader_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchheader" >{$pagetitlelabel hris_leavecredit search}</h2>

{END searchheader}



</div>
{END container_header}






</div>
{END container_searchpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$bssearchfields_hiddenattr} data-pageid="{$pageid}" data-brick="bssearchfields" class="form-horizontal" role="form">
<div class="container">
	<div class="form-group">
		<div class="col-md-12" >
			&nbsp;
		</div>
	</div>
</div>
	{BEGIN ID_fieldblock}		
	<div class="container {$fielddispclass_ID}" data-fieldname="ID">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit ID}
			</div>
			<div class="col-md-2" >
				{$searchtype_ID}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$ID_editcontrol1}
			</div>
		</div>
	</div>
{END ID_fieldblock}
	{BEGIN personnelID_fieldblock}		
	<div class="container {$fielddispclass_personnelID}" data-fieldname="personnelID">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit personnelID}
			</div>
			<div class="col-md-2" >
				{$searchtype_personnelID}
			</div>
			<div class="col-md-4" >
				{$personnelID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$personnelID_editcontrol1}
			</div>
		</div>
	</div>
{END personnelID_fieldblock}
	{BEGIN leavetype_fieldblock}		
	<div class="container {$fielddispclass_leavetype}" data-fieldname="leavetype">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit leavetype}
			</div>
			<div class="col-md-2" >
				{$searchtype_leavetype}
			</div>
			<div class="col-md-4" >
				{$leavetype_editcontrol}
			</div>
			<div class="col-md-4" >
				{$leavetype_editcontrol1}
			</div>
		</div>
	</div>
{END leavetype_fieldblock}
	{BEGIN datesubmitted_fieldblock}		
	<div class="container {$fielddispclass_datesubmitted}" data-fieldname="datesubmitted">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit datesubmitted}
			</div>
			<div class="col-md-2" >
				{$searchtype_datesubmitted}
			</div>
			<div class="col-md-4" >
				{$datesubmitted_editcontrol}
			</div>
			<div class="col-md-4" >
				{$datesubmitted_editcontrol1}
			</div>
		</div>
	</div>
{END datesubmitted_fieldblock}
	{BEGIN inclusivedates_fieldblock}		
	<div class="container {$fielddispclass_inclusivedates}" data-fieldname="inclusivedates">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit inclusivedates}
			</div>
			<div class="col-md-2" >
				{$searchtype_inclusivedates}
			</div>
			<div class="col-md-4" >
				{$inclusivedates_editcontrol}
			</div>
			<div class="col-md-4" >
				{$inclusivedates_editcontrol1}
			</div>
		</div>
	</div>
{END inclusivedates_fieldblock}
	{BEGIN fiscalyear_fieldblock}		
	<div class="container {$fielddispclass_fiscalyear}" data-fieldname="fiscalyear">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit fiscalyear}
			</div>
			<div class="col-md-2" >
				{$searchtype_fiscalyear}
			</div>
			<div class="col-md-4" >
				{$fiscalyear_editcontrol}
			</div>
			<div class="col-md-4" >
				{$fiscalyear_editcontrol1}
			</div>
		</div>
	</div>
{END fiscalyear_fieldblock}
	{BEGIN credit_fieldblock}		
	<div class="container {$fielddispclass_credit}" data-fieldname="credit">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit credit}
			</div>
			<div class="col-md-2" >
				{$searchtype_credit}
			</div>
			<div class="col-md-4" >
				{$credit_editcontrol}
			</div>
			<div class="col-md-4" >
				{$credit_editcontrol1}
			</div>
		</div>
	</div>
{END credit_fieldblock}
	{BEGIN debit_fieldblock}		
	<div class="container {$fielddispclass_debit}" data-fieldname="debit">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit debit}
			</div>
			<div class="col-md-2" >
				{$searchtype_debit}
			</div>
			<div class="col-md-4" >
				{$debit_editcontrol}
			</div>
			<div class="col-md-4" >
				{$debit_editcontrol1}
			</div>
		</div>
	</div>
{END debit_fieldblock}
	{BEGIN notes_fieldblock}		
	<div class="container {$fielddispclass_notes}" data-fieldname="notes">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit notes}
			</div>
			<div class="col-md-2" >
				{$searchtype_notes}
			</div>
			<div class="col-md-4" >
				{$notes_editcontrol}
			</div>
			<div class="col-md-4" >
				{$notes_editcontrol1}
			</div>
		</div>
	</div>
{END notes_fieldblock}
	{BEGIN approverID_fieldblock}		
	<div class="container {$fielddispclass_approverID}" data-fieldname="approverID">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit approverID}
			</div>
			<div class="col-md-2" >
				{$searchtype_approverID}
			</div>
			<div class="col-md-4" >
				{$approverID_editcontrol}
			</div>
			<div class="col-md-4" >
				{$approverID_editcontrol1}
			</div>
		</div>
	</div>
{END approverID_fieldblock}
	{BEGIN dateapproved_fieldblock}		
	<div class="container {$fielddispclass_dateapproved}" data-fieldname="dateapproved">
		<div class="form-group">
			<div class="col-md-2">
				{$label hris_leavecredit dateapproved}
			</div>
			<div class="col-md-2" >
				{$searchtype_dateapproved}
			</div>
			<div class="col-md-4" >
				{$dateapproved_editcontrol}
			</div>
			<div class="col-md-4" >
				{$dateapproved_editcontrol1}
			</div>
		</div>
	</div>
{END dateapproved_fieldblock}
</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-4"> 

{BEGIN searchbuttons}
{BEGIN search_button}
<button class="btn btn-primary" {$searchbutton_attrs}>Search</button>
{END search_button} 
{BEGIN reset_button}
<button class="btn btn-default" {$resetbutton_attrs}>Reset</button>
{END reset_button}
{BEGIN back_button}
<button class="btn btn-default" {$backbutton_attrs}>Back to list</button>
{END back_button}
{END searchbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
