<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="code">
	{$code_editcontrol}
	</control>
	<control field="description">
	{$description_editcontrol}
	</control>
	<control field="credits">
	{$credits_editcontrol}
	</control>
	<control field="maxcredit">
	{$maxcredit_editcontrol}
	</control>
	<control field="unit">
	{$unit_editcontrol}
	</control>
	<control field="implementation">
	{$implementation_editcontrol}
	</control>
	<control field="civilstatus">
	{$civilstatus_editcontrol}
	</control>
	<control field="gender">
	{$gender_editcontrol}
	</control>
	<control field="notes">
	{$notes_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>