<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control field="personelID">
	{$personelID_editcontrol}
	</control>
	<control field="schoolname">
	{$schoolname_editcontrol}
	</control>
	<control field="schooladd">
	{$schooladd_editcontrol}
	</control>
	<control field="educationlevel">
	{$educationlevel_editcontrol}
	</control>
	<control field="yearstarted">
	{$yearstarted_editcontrol}
	</control>
	<control field="yeargraduated">
	{$yeargraduated_editcontrol}
	</control>
	<message>{$message}</message>
</edit_controls>