<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_add} rnr-wrapper rnr-cbw-add">

{BEGIN container_add}
<div class="rnr-c rnr-cv rnr-c-add">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel hris_tito add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-addfields {$brickclass_addfields}"><table class="fieldGrid">
	{BEGIN personnelID_fieldblock}
<tr class="{$fielddispclass_personnelID}" data-fieldname="personnelID">
	<td class="rnr-label">
		{BEGIN personnelID_label}{$label hris_tito personnelID}{END personnelID_label}
	</td>
	<td class="rnr-control style3">
		{$personnelID_editcontrol}&nbsp;
	</td>
</tr>
{END personnelID_fieldblock}
	{BEGIN TimeIn_fieldblock}
<tr class="{$fielddispclass_TimeIn}" data-fieldname="TimeIn">
	<td class="rnr-label">
		{BEGIN TimeIn_label}{$label hris_tito TimeIn}{END TimeIn_label}
	</td>
	<td class="rnr-control style3">
		{$TimeIn_editcontrol}&nbsp;
	</td>
</tr>
{END TimeIn_fieldblock}
	{BEGIN TimeOut_fieldblock}
<tr class="{$fielddispclass_TimeOut}" data-fieldname="TimeOut">
	<td class="rnr-label">
		{BEGIN TimeOut_label}{$label hris_tito TimeOut}{END TimeOut_label}
	</td>
	<td class="rnr-control style3">
		{$TimeOut_editcontrol}&nbsp;
	</td>
</tr>
{END TimeOut_fieldblock}
	{BEGIN IPin_fieldblock}
<tr class="{$fielddispclass_IPin}" data-fieldname="IPin">
	<td class="rnr-label">
		{BEGIN IPin_label}{$label hris_tito IPin}{END IPin_label}
	</td>
	<td class="rnr-control style3">
		{$IPin_editcontrol}&nbsp;
	</td>
</tr>
{END IPin_fieldblock}
	{BEGIN IPout_fieldblock}
<tr class="{$fielddispclass_IPout}" data-fieldname="IPout">
	<td class="rnr-label">
		{BEGIN IPout_label}{$label hris_tito IPout}{END IPout_label}
	</td>
	<td class="rnr-control style3">
		{$IPout_editcontrol}&nbsp;
	</td>
</tr>
{END IPout_fieldblock}
	{BEGIN TotalHours_fieldblock}
<tr class="{$fielddispclass_TotalHours}" data-fieldname="TotalHours">
	<td class="rnr-label">
		{BEGIN TotalHours_label}{$label hris_tito TotalHours}{END TotalHours_label}
	</td>
	<td class="rnr-control style3">
		{$TotalHours_editcontrol}&nbsp;
	</td>
</tr>
{END TotalHours_fieldblock}
	{BEGIN CheckedBy_fieldblock}
<tr class="{$fielddispclass_CheckedBy}" data-fieldname="CheckedBy">
	<td class="rnr-label">
		{BEGIN CheckedBy_label}{$label hris_tito CheckedBy}{END CheckedBy_label}
	</td>
	<td class="rnr-control style3">
		{$CheckedBy_editcontrol}&nbsp;
	</td>
</tr>
{END CheckedBy_fieldblock}
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_add}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
