.AvenueOrange.rnr-s-empty > .rnr-c
{
background:none;

}
.AvenueOrange.rnr-s-empty > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.AvenueOrange.rnr-s-empty > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-empty > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-empty > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueOrange.rnr-s-empty > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-empty > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3
{
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-empty > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-empty > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-menu > .rnr-c
{
border: solid #C0C0C0 1px;
}
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #EDF1F3;color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-menu > .rnr-c.rnr-ch
{
background-image: none; background-color: #EDF1F3;
}
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2
{
background-color: #D2D8DC;
background: -webkit-linear-gradient(top, #D9DEE1, #D2D8DC);
background: -moz-linear-gradient(top, #D9DEE1, #D2D8DC);
background: -ms-linear-gradient(top, #D9DEE1, #D2D8DC);
background: -o-linear-gradient(top, #D9DEE1, #D2D8DC);
;
color: #333333;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #D2D8DC;color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-menu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.AvenueOrange.rnr-s-menu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-menu > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.AvenueOrange.rnr-s-menu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueOrange.rnr-s-menu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-menu > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-menu > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-menu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-hmenu > .rnr-c
{
background:none;

}
.AvenueOrange.rnr-s-hmenu > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.AvenueOrange.rnr-s-hmenu > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-hmenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueOrange.rnr-s-hmenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3
{
color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-hmenu > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-hmenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-undermenu > .rnr-c
{
border: solid #DCDCDC 1px;
}
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F2F2F2;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-undermenu > .rnr-c.rnr-ch
{
background-image: none; background-color: #F2F2F2;
}
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFF00;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-undermenu > .rnr-c .rnr-leftbricks
{
margin-left: 0px;
}
.AvenueOrange.rnr-s-undermenu > .rnr-c .rnr-rightbricks
{
margin-right: 0px;
}
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 8px 10px;
}
.AvenueOrange.rnr-s-undermenu > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueOrange.rnr-s-undermenu > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 0px; background:transparent;
}
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-undermenu > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-undermenu > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-fields > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueOrange.rnr-s-fields > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueOrange.rnr-s-fields > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #FFFFFF;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-fields > .rnr-c.rnr-ch
{
background-image: none; background-color: #FFFFFF;
}
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #F3EBDE;color: #696969;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FFFFFF;color: #696969;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-fields > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueOrange.rnr-s-fields > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-fields > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-fields > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-fields > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-fields > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 8px 11px;
}
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-fields > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-fields > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-form > .rnr-c
{
border-top-left-radius: 10px;border-top-right-radius: 10px;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;
}
.AvenueOrange.rnr-s-form > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 10px; padding-left: 5px;
border-bottom-left-radius: 10px; padding-left: 5px;

}
.AvenueOrange.rnr-s-form > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 10px; padding-right: 5px;
border-bottom-right-radius: 10px; padding-right: 5px;

}
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-form > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #00CCCC;color: #000080;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-form > .rnr-c.rnr-ch
{
background-image: none; background-color: #00CCCC;
}
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-form > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #FF9900;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-form > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #003366;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-form > .rnr-c .rnr-leftbricks
{
margin-left: 10px;
}
.AvenueOrange.rnr-s-form > .rnr-c .rnr-rightbricks
{
margin-right: 10px;
}
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-form > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-form > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueOrange.rnr-s-form > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 10px; background:transparent;
}
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-form > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-form > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-form > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-1 > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueOrange.rnr-s-1 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueOrange.rnr-s-1 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F2F2F2;color: #404040;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-1 > .rnr-c.rnr-ch
{
background-image: none; background-color: #F2F2F2;
}
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #F2F2F2;color: #696969;
font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #F66C13;color: #D1EEEE;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-1 > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueOrange.rnr-s-1 > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-1 > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 4px 4px;
}
.AvenueOrange.rnr-s-1 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-1 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-1 > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 9px 10px;
}
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-1 > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-1 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-2 > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueOrange.rnr-s-2 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueOrange.rnr-s-2 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1
{
background-color: #F2F2F2;
background: -webkit-linear-gradient(top, #F8F8F8, #F2F2F2);
background: -moz-linear-gradient(top, #F8F8F8, #F2F2F2);
background: -ms-linear-gradient(top, #F8F8F8, #F2F2F2);
background: -o-linear-gradient(top, #F8F8F8, #F2F2F2);
;
color: #333333;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-2 > .rnr-c.rnr-ch
{
background-color: #F2F2F2;
background: -webkit-linear-gradient(top, #F8F8F8, #F2F2F2);
background: -moz-linear-gradient(top, #F8F8F8, #F2F2F2);
background: -ms-linear-gradient(top, #F8F8F8, #F2F2F2);
background: -o-linear-gradient(top, #F8F8F8, #F2F2F2);
;

}
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #EDF1F3;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #6699CC;color: #FFFF00;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-2 > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueOrange.rnr-s-2 > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-2 > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 7px 4px;
}
.AvenueOrange.rnr-s-2 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-2 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-2 > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-2 > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-2 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-3 > .rnr-c
{
border-top-left-radius: 3px;border-top-right-radius: 3px;border-bottom-left-radius: 3px;border-bottom-right-radius: 3px;
}
.AvenueOrange.rnr-s-3 > .rnr-ch > .rnr-b-hmenu:first-child
{
border-top-left-radius: 3px; padding-left: 1px;
border-bottom-left-radius: 3px; padding-left: 1px;

}
.AvenueOrange.rnr-s-3 > .rnr-ch> .rnr-b-hmenu:last-child
{
border-top-right-radius: 3px; padding-right: 1px;
border-bottom-right-radius: 3px; padding-right: 1px;

}
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style1,
.AvenueOrange.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1
{
background-image: none; background-color: #F3EBDE;color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-3 > .rnr-c.rnr-ch
{
background-image: none; background-color: #F3EBDE;
}
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style2,
.AvenueOrange.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2
{
background-image: none; background-color: #000080;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style3,
.AvenueOrange.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3
{
background-image: none; background-color: #FF9900;color: #FFFFFF;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.rnr-s-3 > .rnr-c .rnr-leftbricks
{
margin-left: 3px;
}
.AvenueOrange.rnr-s-3 > .rnr-c .rnr-rightbricks
{
margin-right: 3px;
}
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style1:not(.rnr-hfiller),
.AvenueOrange.rnr-s-3 > * > :not(.rnr-b-wrapper) .style1,
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style1 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-3 > .rnr-ch:before
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-3 > .rnr-ch:after
{
content: "";display:table-cell;padding:0 0 0 3px; background:transparent;
}
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style2:not(.rnr-hfiller),
.AvenueOrange.rnr-s-3 > * > :not(.rnr-b-wrapper) .style2,
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style2 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style3:not(.rnr-hfiller),
.AvenueOrange.rnr-s-3 > * > :not(.rnr-b-wrapper) .style3,
.AvenueOrange.rnr-s-3 > :not(.runner-c) > *.style3 > .fieldGrid > * > * > td
{
padding: 5px 4px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:not(.rnr-cs)
{
border-top: solid #C4B1A2 1px;

}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:not(.rnr-cs)
{
border-bottom: solid #C4B1A2 1px;

}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > td:first-child,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > td:first-child,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > th:first-child,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > th:first-child,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + td,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + td,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-cs + th,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-cs + th
{
border-left: solid #C4B1A2 1px;

}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > * > *.rnr-edge,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > * > *.rnr-edge
{
border-right: solid #C4B1A2 1px;

}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > td:first-child,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > td:first-child,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > th:first-child,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > th:first-child,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + td,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + td,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > *.rnr-cs + th,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > *.rnr-cs + th
{
border-top-left-radius: 2px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > td:first-child,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > td:first-child,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > th:first-child,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > th:first-child,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + td,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + td,
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > *.rnr-cs + th,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > *.rnr-cs + th
{
border-bottom-left-radius: 2px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow:first-child > .rnr-edge,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow:first-child > .rnr-edge
{
border-top-right-radius: 2px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:last-child > .rnr-edge,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:last-child > .rnr-edge
{
border-bottom-right-radius: 2px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > * > .rnr-edge,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > * > .rnr-edge
{
min-width: 2px;

}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > th:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > th:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-toprow > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-toprow > td:not(.rnr-cs)
{
background-color: #FF8E01;
background: -webkit-linear-gradient(top, #FFA029, #FF8E01);
background: -moz-linear-gradient(top, #FFA029, #FF8E01);
background: -ms-linear-gradient(top, #FFA029, #FF8E01);
background: -o-linear-gradient(top, #FFA029, #FF8E01);
;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #070400;padding: 5px 7px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-bottomrow > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-bottomrow > td:not(.rnr-cs)
{
background-color: #FF8E01; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #070400;padding: 5px 4px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td:not(.rnr-cs)
{
background-color: #EDF1F3; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #333333;color: #333333;padding: 5px 4px;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td:not(.rnr-cs)
{
background-color: #FFFFFF; background-image: none;color: #333333;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row > td.rnr-selected,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row > td.rnr-selected
{
background-color: #FD994C; background-image: none;color: #333333;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical).hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord.hoverable > * > .rnr-row:hover:nth-last-child(2n+1) > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected,
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > * > .rnr-row:nth-last-child(2n+1) > td.rnr-selected
{
background-color: #EE9900; background-image: none;color: #333333;
}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > thead > tr:last-child > th:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > thead > tr:last-child > th:not(.rnr-cs)
{
border-bottom: solid #C4B1A2 1px;

}
.AvenueOrange.rnr-s-grid > table:not(.runner-c):not(.vertical) > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs),
.AvenueOrange.rnr-s-grid > table.vertical > * > tr > td > table.rnr-vrecord > tbody > tr:not(.rnr-bottomrow) + .rnr-bottomrow > td:not(.rnr-cs)
{
border-top: solid #C4B1A2 1px;

}
.AvenueOrange .rnr-search-highlight
{
color: #FF0000; background-color: transparent;
}
.AvenueOrange .rnr-b-vmenu.simple.main > *,
.AvenueOrange .rnr-b-vmenu.tree.main > *:not(.subitem)
{
background-image:none; background-color: #F2F2F2;color:#5E5E5E;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > hr,
.AvenueOrange .rnr-b-vmenu.tree.main > *:not(.subitem) > hr
{
border-color:#5E5E5E;
}
.AvenueOrange .rnr-b-vmenu.simple.main > *:hover:not(.expanded):not(.menuSeparator),
.AvenueOrange .rnr-b-vmenu.tree.main > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > *.current.current.current,
.AvenueOrange .rnr-b-vmenu.tree.main > *:not(.subitem).current.current.current
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > *:hover:hover:hover.expanded
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > ul li,
.AvenueOrange .rnr-b-vmenu.tree.main > *.subitem
{
background-image:none; background-color: #D2D8DC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > ul li > hr,
.AvenueOrange .rnr-b-vmenu.tree.main > *.subitem > hr
{
border-color:#000000;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > ul li:hover:not(.expanded):not(.menuSeparator),
.AvenueOrange .rnr-b-vmenu.tree.main > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > ul li.current.current.current,
.AvenueOrange .rnr-b-vmenu.tree.main > *.subitem.current.current.current
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.tree.main > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.tree.main > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.simple.main > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.simple.main >  * ul
{
border: solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.simple.main >  * ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.simple.main > *:not(:first-child),
.AvenueOrange .rnr-b-vmenu.tree.main > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.tree.main > *.subitem:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.simple.second > *,
.AvenueOrange .rnr-b-vmenu.tree.second > *:not(.subitem)
{
background-image:none; background-color: #F2F2F2;color:#5E5E5E;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > hr,
.AvenueOrange .rnr-b-vmenu.tree.second > *:not(.subitem) > hr
{
border-color:#5E5E5E;
}
.AvenueOrange .rnr-b-vmenu.simple.second > *:hover:not(.expanded):not(.menuSeparator),
.AvenueOrange .rnr-b-vmenu.tree.second > *:not(.subitem):not(.manage):hover:not(.menuSeparator)
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > *.current.current.current,
.AvenueOrange .rnr-b-vmenu.tree.second > *:not(.subitem).current.current.current
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > *:hover:hover:hover.expanded
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > ul li,
.AvenueOrange .rnr-b-vmenu.tree.second > *.subitem
{
background-image:none; background-color: #D2D8DC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > ul li > hr,
.AvenueOrange .rnr-b-vmenu.tree.second > *.subitem > hr
{
border-color:#000000;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > ul li:hover:not(.expanded):not(.menuSeparator),
.AvenueOrange .rnr-b-vmenu.tree.second > *.subitem:hover:not(.menuSeparator)
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > ul li.current.current.current,
.AvenueOrange .rnr-b-vmenu.tree.second > *.subitem.current.current.current
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > ul li:hover:hover:hover.expanded
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-vmenu.tree.second > *:not(.subitem) > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.tree.second > *.subitem > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.simple.second > * > ul li > :not(ul) > *
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-vmenu.simple.second >  * ul
{
border: solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.simple.second >  * ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.simple.second > *:not(:first-child),
.AvenueOrange .rnr-b-vmenu.tree.second > *:not(.subitem):not(:first-child)
{
border-top:solid #000000 1px;
}
.AvenueOrange .rnr-b-vmenu.tree.second > *.subitem:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueOrange .rnr-b-hmenu.main > div:not(.rnr-hseparator)
{
background: transparent;color:#5E5E5E;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.AvenueOrange .rnr-b-hmenu.main
{
background-image:none; background-color: #F2F2F2;
}
.AvenueOrange .rnr-b-hmenu.main > div:not(.rnr-hseparator) > hr
{
border-color:#5E5E5E;
}
.AvenueOrange .rnr-b-hmenu.main:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main:hover:not(.expanded)
{
background-image:none; background-color: #F66C13;
}
.AvenueOrange .rnr-b-hmenu.main.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main.current.current
{
background-image:none; background-color: #F66C13;
}
.AvenueOrange .rnr-b-hmenu.main:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main:hover.expanded
{
background-image:none; background-color: #F66C13;
}
.AvenueOrange .rnr-b-hmenu.main > ul li
{
background-image:none; background-color: #D2D8DC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main > ul li > hr
{
border-color:#000000;
}
.AvenueOrange .rnr-b-hmenu.main > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main > ul li.current.current
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main > ul li:hover.expanded
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.main > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-hmenu.main ul
{
border: solid #000000 1px;
}
.AvenueOrange .rnr-b-hmenu.main ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueOrange .rnr-b-hmenu.main:not(:last-child)
{
border-right: solid #C8C8C8 1px;
}
.AvenueOrange :not(.rnr-b-hmenu):not(.main) + .rnr-b-hmenu.main
{
border-left: solid #C8C8C8 1px;
}
.AvenueOrange .rnr-b-hmenu.second > div:not(.rnr-hseparator)
{
background: transparent;color:#5E5E5E;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;padding: 20px 10px;border: none;
}
.AvenueOrange .rnr-b-hmenu.second
{
background-image:none; background-color: #F2F2F2;
}
.AvenueOrange .rnr-b-hmenu.second > div:not(.rnr-hseparator) > hr
{
border-color:#5E5E5E;
}
.AvenueOrange .rnr-b-hmenu.second:hover:not(.expanded) > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second:hover:not(.expanded)
{
background-image:none; background-color: #F66C13;
}
.AvenueOrange .rnr-b-hmenu.second.current.current > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second.current.current
{
background-image:none; background-color: #F66C13;
}
.AvenueOrange .rnr-b-hmenu.second:hover.expanded > div:not(.rnr-hseparator)
{
background: transparent;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second:hover.expanded
{
background-image:none; background-color: #F66C13;
}
.AvenueOrange .rnr-b-hmenu.second > ul li
{
background-image:none; background-color: #D2D8DC;color:#000000;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second > ul li > hr
{
border-color:#000000;
}
.AvenueOrange .rnr-b-hmenu.second > ul li:hover:not(.expanded):not(.menuSeparator)
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second > ul li.current.current
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second > ul li:hover.expanded
{
background-image:none; background-color: #F66C13;color:#FFFFFF;font-family: Arial, sans-serif; font-size: 13px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-b-hmenu.second > ul li > div > div
{
padding: 9px 7px; margin:1px 3px;
}
.AvenueOrange .rnr-b-hmenu.second ul
{
border: solid #000000 1px;
}
.AvenueOrange .rnr-b-hmenu.second ul > li:not(:first-child)
{
border-top: solid #000000 1px;
}
.AvenueOrange .rnr-b-hmenu.second:not(:last-child)
{
border-right: solid #C8C8C8 10px;
}
.AvenueOrange :not(.rnr-b-hmenu):not(.second) + .rnr-b-hmenu.second
{
border-left: solid #C8C8C8 10px;
}
body.AvenueOrange
{

background-color:#E6E6E6;
}
.AvenueOrange .rnr-list
{
color: #404040;background-color: #F2F2F2;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;border: solid #000000 1px;box-shadow:5px 5px 3px rgba(0,0,0,0.2);
}
.AvenueOrange .rnr-tab.selected
{
background-color:#0000FF;
border-top-left-radius:3px;
border-top-right-radius:3px;

}
.AvenueOrange .rnr-tab
{
background-color:#C0C0C0;
border-top-left-radius:3px;
border-top-right-radius:3px;
border: solid #000000 1px; border-bottom-width:0;
}
.AvenueOrange .rnr-tab.selected > a
{
color: #FFFFFF;

}
.AvenueOrange .rnr-tab > a
{
color: #000000;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .yui-navset .yui-content
{
border: solid #0000FF 1px;border-top-width: 5px;
}
.AvenueOrange  .rnr-message
{
background-color: #F3EBDE;border: solid #A80000 1px;color: #008000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange  .rnr-error.rnr-error
{
color: #A80000;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .yui3-panel-content.yui3-panel-content
{
border-radius: 3px;
}
.AvenueOrange  .yui3-panel .yui3-widget-hd.yui3-widget-hd.yui3-widget-hd
{
background-color: #F2F2F2; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #696969;
}
.AvenueOrange  .yui3-widget-ft
{
background-color: #F3EBDE; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #696969;
}
.AvenueOrange .rnr-dbbordered
{
border-radius: 3px;
}
.AvenueOrange  .rnr-dbelemheader
{
background-color: #F2F2F2; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #696969;
}
.AvenueOrange  .rnr-dbelemfooter
{
background-color: #D8D8D8; background-image: none;font-family: Avant Garde, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;color: #000000;
}
.AvenueOrange  .rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow.rnr-dbselectedrow
{
background-color: #FFFACD; background-image: none;font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;color: #4C4951;
}
.AvenueOrange .rnr-dashboard
{
background-color: #FFFFFF;
}
.AvenueOrange .rnr-button.rnr-button,
.AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.AvenueOrange .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueOrange .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button.rnr-button
{
border: solid 1px;border-radius: 3px;padding: 3px 10px 4px;background-color: #FD994C;
background: -webkit-linear-gradient(top, #FDAB6C, #FD994C);
background: -moz-linear-gradient(top, #FDAB6C, #FD994C);
background: -ms-linear-gradient(top, #FDAB6C, #FD994C);
background: -o-linear-gradient(top, #FDAB6C, #FD994C);
;
border-color: #000000;color: #6F3101;
font-family: Arial, sans-serif; font-size: 14px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange .rnr-button.rnr-button.img,
.AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.AvenueOrange .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueOrange .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button.rnr-button.img
{
padding: 3px;

}
.AvenueOrange .rnr-button:hover,
.AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
.AvenueOrange .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .AvenueOrange .rnr-button:hover,
 .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button:hover
{
background-color: #FC7812;
background: -webkit-linear-gradient(top, #FC903C, #FC7812);
background: -moz-linear-gradient(top, #FC903C, #FC7812);
background: -ms-linear-gradient(top, #FC903C, #FC7812);
background: -o-linear-gradient(top, #FC903C, #FC7812);
;
border-color: #000000;color: #140900;

}
.AvenueOrange .rnr-button:active,
.AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
.AvenueOrange .button.button.button.rnr-button:active,
 .rnr-pagewrapper .AvenueOrange .rnr-button:active,
 .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button:active
{
background-color: #FC7812;
background: -webkit-linear-gradient(top, #FC903C, #FC7812);
background: -moz-linear-gradient(top, #FC903C, #FC7812);
background: -ms-linear-gradient(top, #FC903C, #FC7812);
background: -o-linear-gradient(top, #FC903C, #FC7812);
;
border-color: #000000;color: #140900;

}
.AvenueOrange .rnr-button.disabled,
.AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.AvenueOrange .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .AvenueOrange .rnr-button.disabled,
 .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.asbuttons > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .button.button.button.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(top, #CBCBCB, #C0C0C0);
background: -moz-linear-gradient(top, #CBCBCB, #C0C0C0);
background: -ms-linear-gradient(top, #CBCBCB, #C0C0C0);
background: -o-linear-gradient(top, #CBCBCB, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
.AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
.AvenueOrange .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button.rnr-button
{
background: none; border: none; ;
border: none;border-radius: 0px;padding: 4px 8px 4px;color: #FF9900;
font-family: Arial, sans-serif; font-size: 12px; font-weight: normal; font-style: normal; text-decoration: none;
}
.AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
.AvenueOrange .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button.rnr-button.img
{
padding: 4px;

}
.AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
.AvenueOrange .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button:hover
{
color: #F66C13;

}
.AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
.AvenueOrange .link.link.link.rnr-button:active,
 .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button:active
{
color: #F66C13;

}
.AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
.AvenueOrange .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange.aslinks > * > *:not(.rnr-wrapper) .rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .link.link.link.rnr-button.disabled
{
color: #404040;

}
.AvenueOrange .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button.rnr-button,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button.rnr-button
{
border: solid 2px;border-radius: 3px;padding: 3px 10px 4px;background-color: #FD994C;
background: -webkit-linear-gradient(top, #FDAB6C, #FD994C);
background: -moz-linear-gradient(top, #FDAB6C, #FD994C);
background: -ms-linear-gradient(top, #FDAB6C, #FD994C);
background: -o-linear-gradient(top, #FDAB6C, #FD994C);
;
border-color: #000000;color: #6F3101;
font-family: Arial, sans-serif; font-size: 14px; font-weight: bold; font-style: normal; text-decoration: none;
}
.AvenueOrange .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button.rnr-button.img,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button.rnr-button.img
{
padding: 3px;

}
.AvenueOrange .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button:hover,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button:hover
{
background-color: #FC7812;
background: -webkit-linear-gradient(top, #FC903C, #FC7812);
background: -moz-linear-gradient(top, #FC903C, #FC7812);
background: -ms-linear-gradient(top, #FC903C, #FC7812);
background: -o-linear-gradient(top, #FC903C, #FC7812);
;
border-color: #000000;color: #140900;

}
.AvenueOrange .main.main.main.rnr-button:active,
 .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button:active,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button:active
{
background-color: #FC7812;
background: -webkit-linear-gradient(top, #FC903C, #FC7812);
background: -moz-linear-gradient(top, #FC903C, #FC7812);
background: -ms-linear-gradient(top, #FC903C, #FC7812);
background: -o-linear-gradient(top, #FC903C, #FC7812);
;
border-color: #000000;color: #140900;

}
.AvenueOrange .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button.disabled,
 .rnr-pagewrapper .rnr-pagewrapper .AvenueOrange .main.main.main.rnr-button.disabled
{
background-color: #C0C0C0;
background: -webkit-linear-gradient(top, #CBCBCB, #C0C0C0);
background: -moz-linear-gradient(top, #CBCBCB, #C0C0C0);
background: -ms-linear-gradient(top, #CBCBCB, #C0C0C0);
background: -o-linear-gradient(top, #CBCBCB, #C0C0C0);
;
border-color: #000000;color: #A9A9A9;

}
.rnr-left, .rnr-center{
    background-color:#ffffff;
}